html
	head
		title User information App
	body
		nav
			div
				a(href= "/register") Register
			div
				a(href="/search") Search
		h1 These are the users of the user information app.
		each user in users
			h2 #{user.firstname} #{user.lastname}: #{user.email}