html
	head
		title Login page
	body
		h4 Type your first name or last name.
		form(action='/search' method='post')
			input(type='text' id='user' name='name') 
			br
			input(class="inputfield" id="suggestion")
			br
			br
			input(type="submit" value="submit your first name or last name")
	script
		include ../jquery.js
		include ../customJquery.js
	script(src='http://code.jquery.com/ui/1.10.2/jquery-ui.js')