html
	head
		title Login page
	body
		h4 Type in your name!
		form(action='/search' method='post' autocomplete="off")
			input(type='text' list="suggestion" id='user' name='name') 
			datalist#suggestion
				option(value="" id="suggestion1")
				option(value="" id="suggestion2")
			br
			br
			input(type="submit" value="Submit!")
	script
		include ../jquery.js
		include ../customJquery.js
	script(src='http://code.jquery.com/ui/1.10.2/jquery-ui.js')

