html
	head
		title Register yourself!
	body
		h2 Register yourself by filling out this handy form!
		form(action='/register' method='post')
			h3 Type in your first name:
			input(name= 'firstname')
			h3 Type in your last name:
			input(name= 'lastname')
			h3 Type in your email:
			input(name= 'email')
			br
			input(type= 'submit' value= 'submit!')